doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Get Quotes

        style
            include styles.css

    body
        h1 Get Quotes by Clicking on this button

        span.quote ;
        p
            span.getQuote=quote
            p
                span.getAuthor=author
        span.quote ;

        p
            form(method="post", action="/quotes")
                button(type="submit") Get Quotes


        nav 
            span.content Made by Rishav Sarkar